@import "../libs/reset.css" // Импортируем библиотеку Magnific Popup
@import "../libs/magnific-popup/dist/magnific-popup.css" // Импортируем библиотеку Magnific Popup
@import "../libs/normalize-css/normalize.css"