@import "mixins"
@import "sprite"

//variables
grays = #777C80
headertext = #44538D

//mixins
roundlogo()
	width 80px
	height 80px
	border-radius 50%
	background-size 90px

inline()
	display inline-block
	vertical-align top

font()
	font-family 'Open Sans', sans-serif
	font-size 14px
	font-weight normal

block-item()
	position relative
	display block
	height 40px
	width 100%
	line-height 40px

menu-block()
	display block
	margin 10px 20px
	height 40px
	line-height 40px

.wrapper
	width 1000px
	margin 50px auto

//menu
.left-menu
	display inline-block
	vertical-align top
	position relative
	background linear-gradient(to top, #3E484F, #172532)
	min-height 800px
	width 20%

.left-menu__burger-btn
	position absolute
	z-index 10
	top 10px
	left 10px
	width 30px
	height 40px
	background url(../img/icons/burger-menu.png) no-repeat center center
	background-size 30px 30px
	transition all 1s ease-out
	&:hover
		transform rotateX(360deg)

.search
	menu-block()
	position relative

.search__search-form
	position relative
	margin-left 25px
	width 140px
	height 30px

.search__input
	font()
	position absolute
	bottom 0
	left 0
	display block
	width 110px
	height 20px
	background none
	color white
	border-bottom 1px solid rgba(255,255,255,0.6)
	padding 0
	outline none

.search__submit
	font-size 0
	position absolute
	top 0
	right 0
	width 30px
	height 40px
	background url(../img/icons/search.svg) no-repeat center center
	background-size 15px 15px
	transition all 1s ease-out
	&:hover
		transform rotateX(360deg)

.main
	display inline-block
	vertical-align top
	width 800px
	min-height 80%

.header
	min-height 200px
	background-color #F0F1F3

.content
	background-color #D4E5FD
	min-height 600px

.current-category
	menu-block()
	font()
	position relative
	margin-top 20px
	color grays

.current-category__title
	text-align left

.current-category__quantity
	position absolute
	top 0
	right 0
	font-size 16px

//menu-items
.menu-block__title
	block-item()
	font()
	color white
	text-align center
	vertical-align middle

.menu-block__title-orange
	background-color #EDC74C

.menu-block__title-blue
	background-color #4795C3

.menu-block__title-green
	background-color #0A9FA6

.menu-block__item
	block-item()
	background-color rgba(0,0,0,0.1)
	&:nth-child(2n)
		background-color rgba(255,255,255,0.1)
	&:hover
		background-color rgba(255,255,255,0.8)

.menu-block__link
	block-item()
	font()
	color grays
	cursor pointer
	text-decoration none
	padding-left 20px

.menu-block__quantity
	position absolute
	right 40px

//Section main
////header

.main-header
	padding-top 1px
	position relative
	color headertext
	background-color rgba(255,255,255,0.8)

.person-info__photo
	inline()
	background: url(../img/man.jpg) top center no-repeat
	roundlogo()

.person-info
	width 400px
	height 80px
	margin 40px
	margin-top 38px

.person-info__info
	font()
	inline()
	width 280px
	height 80px
	padding-left 20px
	padding-top 5px

.person-info__name
	font-size 24px

.person-info__add-info
	inline()
	text-transform uppercase
	margin-top 10px
	margin-right 20px

.person-info__quant
	margin-right 10px

.header-btns
	position absolute
	top 0
	right 0
	width 80px
	height 40px

.header-btns__edit
	inline()
	width 40px
	height 40px
	background url(../img/icons/pen.png) no-repeat center center
	background-size contain

.header-btns__close
	inline()
	width 40px
	height 40px
	background url(../img/icons/close.png) no-repeat
	background-position 5px 5px
	background-size 50px 50px

//nav menu
.nav-wrapper
	border-top 1px solid rgba(0,0,0,0.1)

.nav-menu
	height 40px
	width 600px
	margin 0 auto

.nav-menu__item
	inline()
	width 100px
	height 40px
	color headertext
	margin-right 20px

.nav-menu__link
	position relative
	font()
	display block
	text-align center
	line-height 40px
	vertical-align middle
	width 100px
	height 40px
	cursor pointer
	&::after
		position absolute
		z-index 99
		top 40px
		left 10px
		content ""
		display none
		width 0px
		height 0px
		border-top: 10px solid #eee
		border-right: 10px solid transparent
		border-bottom: 10px solid transparent
		border-left: 10px solid transparent
	&:hover
		background-color #eee
		&::after
			display block

//content section
.content-item
	height 200px

.content-item__innerleft
	inline()
	font()
	width 30%
	height 200px

.content-item__innerright
	inline()
	font()
	width 70%
	height 200px

.content-item__profile
	background-color rgba(0,0,0,0.7)

.left-info
	background-color rgba(237,199,76,0.9)

.content-item__item1
	background-image url(../img/content-1.jpg)
	background-position center center

.content-item__item2
	background-image url(../img/content-2.jpg)
	background-position center center

.content-item__item3
	background-image url(../img/content-3.jpg)
	background-position center center

.content-item__name
	margin-top 30px
	margin-left 30px
	width 50px
	font-size 16px
	color grays

.content-item__photo
	inline()
	roundlogo()
	margin-top 10px
	margin-left 30px
	background-size 80px
	background-position center center
	background-repeat no-repeat

.content-item__photo-1
	background-image: url(../img/foto.jpg)

.content-item__photo-2
	background-image: url(../img/girl.jpg)
	background-size 130px

//Flex-box
.b-flex-wrapper
	width 800px
	margin 0 auto

.main-flex
	display flex
	justify-content space-around
	width 800px

.flex-title
	display block
	font()
	text-align center
	font-size 30px
	width 800px
	height 100px
	line-height 100px
	color grays
	background-color lightpink

.flex-parent
	display inline-flex
	vertical-align top
	width 100%
	min-height 200px
	border 1px solid gray
	justify-content space-around
	flex-wrap wrap
	flex-direction row
	align-content space-around
	&__child
		text-align center
		vertical-align middle
		line-height 100px
		font-size 18px
		min-width 100px
		min-height 100px
		background #F8FF8B
		border 1px solid gray

aside
	display inline-flex
	background-color #93D9FD
	min-height 200px
	width 200px
	flex-flow column wrap

.aside__element
	text-align center
	vertical-align middle
	line-height 40px
	width 100%
	height 40px
	background-color orange
	font-size 14px
	border-bottom 1px solid gray
	&:hover
		background-color lighten(orange,30%)

.menu
	display inline-flex
	background-color #93D9FD
	min-height 200px
	width 200px
	flex-flow column wrap

.menu__element
	text-align center
	vertical-align middle
	line-height 40px
	width 100%
	height 40px
	background-color red
	font-size 14px
	border-bottom 1px solid gray
	&:hover
		background-color lighten(red,30%)

.sprite1
	sprite($s-Airbnb_Color)

.sprite2
	sprite($s-Android_Color)

.sprite3
	sprite($s-Apple_Color)