$s-Airbnb_Color = 61px 0px -61px 0px 60px 60px 181px 180px '../img/sprites/sprite_dest/sprite.png';
$s-Android_Color = 0px 60px 0px -60px 60px 60px 181px 180px '../img/sprites/sprite_dest/sprite.png';
$s-Apple_Color = 60px 60px -60px -60px 60px 60px 181px 180px '../img/sprites/sprite_dest/sprite.png';
$s-Dropbox_Color = 121px 0px -121px 0px 60px 60px 181px 180px '../img/sprites/sprite_dest/sprite.png';
$s-Evernote_Color = 121px 60px -121px -60px 60px 60px 181px 180px '../img/sprites/sprite_dest/sprite.png';
$s-Facebook_Color = 0px 120px 0px -120px 60px 60px 181px 180px '../img/sprites/sprite_dest/sprite.png';
$s-Google_Color = 0px 0px 0px 0px 61px 60px 181px 180px '../img/sprites/sprite_dest/sprite.png';
$s-Instagram_Color = 60px 120px -60px -120px 60px 60px 181px 180px '../img/sprites/sprite_dest/sprite.png';
$s-Kickstarter_Color = 120px 120px -120px -120px 60px 60px 181px 180px '../img/sprites/sprite_dest/sprite.png';
