include ../../node_modules/bemto.pug/bemto.pug

doctype html
html
	head
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
		title Test
	body