doctype html
html
	head
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.min.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans")
		title Test
	body
		h1 page
		div.wrapper
			section.left-menu
				h2.left-menu__title Menu
				button.left-menu__burger-btn
				div.search
					form.search__search-form(action="#" method="post")
						input.search__input(type="text")
						input.search__submit(type="submit")
				div.current-category
					span.current-category__title Storybook
					span.current-category__quantity 241
				div.menu-block
					div.menu-block__title.menu-block__title-orange Daniel Stonefront
					ul.menu-block__bunch
						li.menu-block__item
							a.menu-block__link(href="#")
								span.menu-block__text Metropolis
								span.menu-block__quantity 5
						li.menu-block__item
							a.menu-block__link(href="#")
								span.menu-block__text New Urbanism
								span.menu-block__quantity 23
						li.menu-block__item
							a.menu-block__link(href="#")
								span.menu-block__text Citta Nuova
								span.menu-block__quantity 1
						li.menu-block__item
							a.menu-block__link(href="#")
								span.menu-block__text Manifesto
								span.menu-block__quantity 7
						li.menu-block__item
							a.menu-block__link(href="#")
								span.menu-block__text Brasilia 1960
								span.menu-block__quantity 23
						li.menu-block__item
							a.menu-block__link(href="#")
								span.menu-block__text Suburbia
								span.menu-block__quantity
				div.menu-block
					div.menu-block__title.menu-block__title-blue Anna Navratilova
					ul.menu-block__bunch
						li.menu-block__item
							a.menu-block__link(href="#")
								span.menu-block__text Metropolis
								span.menu-block__quantity 5
						li.menu-block__item
							a.menu-block__link(href="#")
								span.menu-block__text New Urbanism
								span.menu-block__quantity 23
						li.menu-block__item
							a.menu-block__link(href="#")
								span.menu-block__text Citta Nuova
								span.menu-block__quantity 1
						li.menu-block__item
							a.menu-block__link(href="#")
								span.menu-block__text Manifesto
								span.menu-block__quantity 7
						li.menu-block__item
							a.menu-block__link(href="#")
								span.menu-block__text Brasilia 1960
								span.menu-block__quantity 23
				div.menu-block
					div.menu-block__title.menu-block__title-green Martin Speedfreak
					ul.menu-block__bunch
						li.menu-block__item
							a.menu-block__link(href="#")
								span.menu-block__text Vanashing Point
								span.menu-block__quantity 12
						li.menu-block__item
							a.menu-block__link(href="#")
								span.menu-block__text Grand Turismo
								span.menu-block__quantity 9
			section.main
				h2.main__title Main
				header.main-header
					div.person-info
						div.person-info__photo
						div.person-info__info
							div.person-info__name Marky Mark
							div.person-info__add-info
								span.person-info__quant 24
								span.person-info__text stories
							div.person-info__add-info
								span.person-info__quant 172
								span.person-info__text followers
					div.header-btns
						div.header-btns__edit
						div.header-btns__close
					div.nav-wrapper
						nav.nav-menu
							h2 Navigation
							ul.nav-menu__bunch
								li.nav-menu__item
									a.nav-menu__link My Stories
								li.nav-menu__item
									a.nav-menu__link Following
								li.nav-menu__item
									a.nav-menu__link Hot Stuff
								li.nav-menu__item
									a.nav-menu__link Everyone
								li.nav-menu__item
									a.nav-menu__link Categories
				section.content
					h2.content__title Content
					div.content-item.content-item__item1
						div.content-item__innerleft.content-item__profile
							div.content-item__name Martin Speedfreak
							div.content-item__photo.content-item__photo-1
						div.content-item__innerright
					div.content-item.content-item__item2
						div.content-item__innerleft.content-item__info
						div.content-item__innerright
					div.content-item.content-item__item3
						div.content-item__innerleft.content-item__profile
							div.content-item__name Anna Navratilova
							div.content-item__photo.content-item__photo-2
						div.content-item__innerright

		br
		div.b-flex-wrapper
			div.flex-title Flex-box
			div.main-flex
				aside
					div.aside__element 1
					div.aside__element 2
					div.aside__element 3
					div.aside__element 4
					div.aside__element 5
					div.aside__element 6
				div.flex-parent
					div.flex-parent__child 1
					div.flex-parent__child 2
					div.flex-parent__child 3
					div.flex-parent__child 4
					div.flex-parent__child 5
					div.flex-parent__child 6
					div.flex-parent__child 7
					div.flex-parent__child 8
					div.flex-parent__child 9
					div.flex-parent__child 10
					div.flex-parent__child 11
					div.flex-parent__child 12
					div.flex-parent__child 13
					div.flex-parent__child 14
					div.flex-parent__child 15
				div.menu
					div.menu__element 1
					div.menu__element 2
					div.menu__element 3
					div.menu__element 4
					div.menu__element 5
					div.menu__element 6
	div.sprite1
	div.sprite3
	div.sprite2